services:
  postgres:
    image: postgres:17.7
    restart: unless-stopped
    network_mode: host
    environment:
      POSTGRES_USER: ${POSTGRES__USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES__PASSWORD}
      POSTGRES_DB: ${POSTGRES__NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:8
    restart: unless-stopped
    network_mode: host
    volumes:
      - redis-data:/data
volumes:
  postgres-data:
  redis-data:
